/***************************************************************************************/
/**********************************   FONT CSS   ***************************************/
/***************************************************************************************/

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* font-family: 'Roboto', sans-serif; */

p {
    font-family: 'Roboto', sans-serif;
}

/***************************************************************************************/
/**************************************   ETC   ****************************************/
/***************************************************************************************/

ul{
    margin: 0px;
    padding: 0px;
}

li{
    list-style: none !important;
}

/***************************************************************************************/
/*************************************   BODY   ****************************************/
/***************************************************************************************/

body
{
    background: #32373B !important;
   /* background: #222 !important;*/
}

/***************************************************************************************/
/************************************   LOVERS   ***************************************/
/***************************************************************************************/

.Card_style
{
    min-height: 550px !important;
}
.card_a_style
{
    color: black !important;
    text-decoration: none !important;
    font-size: 48px !important;
}

.card_a_style:hover{
    transition: 0.3s !important;
    color: #C83E4D !important;
    background: #C83E4D !important;
    font-weight: bold !important;
}

/***************************************************************************************/
/*************************************   USERS   ***************************************/
/***************************************************************************************/

.Bio_user
{
    background: white !important;
    font-family: 'Roboto', sans-serif;
}

.description_user_bloc
{
    background: #F4B860 !important;
    color: white; 
    font-family: 'Roboto', sans-serif;
}

.input_button_user
{
    display: block !important;
    background:  #F4B860 !important;
    border-radius: 5px !important;
    color: white !important;
    font-family: 'Roboto', sans-serif;
}

.input_button_user:hover
{
    transition: 0.3s;
    background: #bd8f4a !important;
}

/***************************************************************************************/
/************************************   BANNER   ***************************************/
/***************************************************************************************/

.Banner_style
{
    background: #333 !important;
}

.Profil_pic_circle
{
    border-radius: 50%;
}

/***************************************************************************************/
/*********************************   FORM REGISTER   ***********************************/
/***************************************************************************************/

.Card_register
{
    background: #C83E4D !important;
    color: white;
}
.input_register
{
    border: none !important;
    border-bottom: 3px solid white !important;
    background: #C83E4D !important;
    color: white !important;
    font-weight: bold !important;
}
.input_register:hover
{
    transition: 0.1s !important;
    box-shadow: none !important;
}
.input_register::placeholder
{
    color: white !important;
}

.Card_register_header
{
    background: #32373B !important;
}

.btn_register
{
    background: #C83E4D !important;
    border: 2px solid #32373B !important;
    
    border-radius: 25px !important;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.btn_register:hover
{
    transition: 0.3s;
    background: #32373B !important;
    border: 2px solid #FFFFFF !important;
}
