/***************************************************************************************/
/**********************************   FONT CSS   ***************************************/
/***************************************************************************************/

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* font-family: 'Roboto', sans-serif; */

p {
    font-family: 'Roboto', sans-serif;
}


/***************************************************************************************/
/***************************************************************************************/
/***************************************************************************************/
body
{
    background: #222 !important;
}

ul{
    margin: 0px;
    padding: 0px;
}

li{
    list-style: none !important;
}
.Banner_style
{
    background: #333 !important;
}

.NavSection
{
    background-color: #64485c !important;
}

.Profil_pic_circle
{
    border-radius: 50%;
}

.login {
    background-image: url("/assets/image/fond.jpg");
    width: auto;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}




.foote_bottom_ul_amrc li {
    display: inline;
}

.foote_bottom_ul_amrc li a {
    color: #777;
}

.social_footer_ul 
{
    margin: 0px;
    padding: 0px;
    display: inline-block;
    list-style-type: none;
}

.social_footer_ul li {
    padding-left: 20px;
    padding-top: 10px;
    float: left;
}

.social_footer_ul li a {
    color: #777;
    border: 1px solid #777;
    padding: 8px;
    border-radius: 50%;
}

.social_footer_ul li i {
    width: 20px;
    height: 20px;
    text-align: center;
}

.SocialBranding
{
    background: #101820FF;
}

.Info_Footer
{
    background: #101820FF;
}

.Credit
{
    font-family: 'Roboto', sans-serif;
    color: white;
    background: #101820FF;
}

.H2Dating {
    font-family: 'Roboto', sans-serif;
}

.Newsletters
{
    font-family: 'Roboto', sans-serif;
    color: white;
    background: #101820FF;
}