/***************************************************************************************/
/**********************************   FONT CSS   ***************************************/
/***************************************************************************************/

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* font-family: 'Roboto', sans-serif; */

p {
    font-family: 'Roboto', sans-serif;
}

/***************************************************************************************/
/**************************************   ETC   ****************************************/
/***************************************************************************************/

ul{
    margin: 0px;
    padding: 0px;
}

li{
    list-style: none !important;
}

/***************************************************************************************/
/*************************************   BODY   ****************************************/
/***************************************************************************************/

body
{
    background: #32373B !important;
   /* background: #222 !important;*/
}

/***************************************************************************************/
/********************************   CONTAINER BODY   ***********************************/
/***************************************************************************************/

.Container_body
{
    background: #F4B860 !important;
}

/***************************************************************************************/
/************************************   LOVERS   ***************************************/
/***************************************************************************************/



/***************************************************************************************/
/*************************************   USERS   ***************************************/
/***************************************************************************************/

.description_user_bloc
{
    background: #C83E4D !important;
    color: white; 
    font-family: 'Roboto', sans-serif;
}

.input_button_user
{

}

.input_button_user:hover
{
    
}






/***************************************************************************************/
/************************************   BANNER   ***************************************/
/***************************************************************************************/

.Banner_style
{
    background: #333 !important;
}

.Profil_pic_circle
{
    border-radius: 50%;
}

/***************************************************************************************/
/*********************************   FORM REGISTER   ***********************************/
/***************************************************************************************/

.Card_register
{
    background: #C83E4D !important;
    color: white;
}
.input_register
{
    border: none !important;
    border-bottom: 3px solid white !important;
    background: #C83E4D !important;
    color: white !important;
    font-weight: bold !important;
}
.input_register:hover
{
    transition: 0.1s !important;
    box-shadow: none !important;
}
.input_register::placeholder
{
    color: white !important;
}

.Card_register_header
{
    background: #32373B !important;
}

.btn_register
{
    background: #32373B !important;
    border: 2px solid #FFFFFF !important;
    border-radius: 25px !important;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.btn_register:hover
{
    transition: 0.3s;
    background: #C83E4D !important;
    border: 2px solid #32373B !important;
}

/***************************************************************************************/
/**********************************   FOOTER SOCIAL   **********************************/
/***************************************************************************************/

.social_footer_ul 
{
    margin: 0px;
    padding: 0px;
    display: inline-block;
    list-style-type: none;
}

.social_footer_ul li {
    padding-left: 20px;
    padding-top: 10px;
    float: left;
}

.social_footer_ul li a {
    color: #777;
    border: 1px solid #777;
    padding: 8px;
    border-radius: 50%;
}

.social_footer_ul li i {
    width: 20px;
    height: 20px;
    text-align: center;
}

.SocialBranding
{
    background: #101820FF;
}

.Info_Footer
{
    background: #101820FF;
}

/***************************************************************************************/
/**********************************   FOOTER CREDIT   **********************************/
/***************************************************************************************/

.Credit
{
    font-family: 'Roboto', sans-serif;
    color: white;
    background: #101820FF;
}

.H2Dating {
    font-family: 'Roboto', sans-serif;
}

.Newsletters
{
    font-family: 'Roboto', sans-serif;
    color: white;
    background: #101820FF;
}